<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #loanForm="ngForm">
      <div class="form-group">
        <label for="requestedAmount">Amount</label>
        <input type="text" [(ngModel)]="loan.requestedAmount"
               class="form-control" id="requestedAmount" name="requestedAmount" placeholder="Enter the loan amount"
               required #requestedAmount="ngModel">
        <div [hidden]="!requestedAmount.pristine" class="alert alert-danger">Loan amount is required</div>
        <div [hidden]="error == false" class="alert alert-danger">Invalid information.</div>
      </div>
      <button type="submit" [disabled]="!loanForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
